<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.calvin.cs262.fdn2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/pingpong"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <meta-data
            android:name="com.snapchat.kit.sdk.clientId"
            android:value="1cb5158b-3e4f-45ae-94dd-2b11c74aeb6b" />
        <meta-data
            android:name="com.snapchat.kit.sdk.redirectUrl"
            android:value="myapp://snap-kit/oauth2" />
        <meta-data
            android:name="com.snapchat.kit.sdk.scopes"
            android:resource="@array/snap_connect_scopes" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity
            android:name=".LeaderBoardScreen"
            android:label="LeaderBoard">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="snap-kit"
                    android:path="/oauth2"
                    android:scheme="myapp" />
            </intent-filter>
        </activity>

        <activity
            android:name=".UserProfileScreen"
            android:label="User Profile"
            >
        </activity>

        <activity
            android:name=".GameRequestScreen"
            android:label="Game Request">
        </activity>

    </application>

</manifest>